.primary {

  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: 100px;
  border: var(--border-color-green);

  color: var(--background);
  background-color: var(--green);

  transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--yellow);
  }
}

.secondary {

  padding: var(--spacing-md) var(--spacing-lg);

  border-radius: 100px;

  background-color: var(--background-dark-green);
  border: var(--border-color);

  transition: 0.2s ease-in-out;

  &:hover {
    border: var(--border-color-hover);
    color: var(--text-color-hover);
    background-color: var(--background-hover);
    box-shadow: var(--box-shadow-hover);
  }
}

.disabled {
  padding: var(--spacing-md) var(--spacing-lg);

  border-radius: 100px;

  background-color: transparent;
  border: var(--border-color-error);
  color: var(--error);

  transition: 0.2s ease-in-out;
}