@use '../../styles/mixins' as *;

.warning {
  width: 100%;
  text-align: center;
  padding: var(--spacing-sm);

  background-color: red;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spacing-sm) var(--spacing-lg);
  background-color: var(--background);

  .logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: ease-in-out;
  }

  .logoText {
    width: 150px;
    height: 50px;

    .text {
      object-fit: contain;
    }
  }

  .network {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 435px;
  }

  .searchBar {
    width: 100%;

    @include respond-to(mob-landscape) {
      width: 400px;
    }

    @include respond-to(desktop) {
      width: 600px;

    }
  }
}