.header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spacing-sm) var(--spacing-lg);
  background-color: var(--background);

  .logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: ease-in-out;
  }

  .network {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
  }
}