.list {
  width: 100%;

  display: flex;
  flex-wrap: nowrap;

  align-items: center;

  gap: var(--spacing-xl);

  .link {
    &:hover {
      color: var(--yellow);
    }

  }

  .active {
    color: #DBFF34
  }
}