@use '../../../../styles/mixins' as *;

.dropdownItem {
  width: 175px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--spacing-sm);

  padding: var(--spacing-xs);
  margin: 1px;

  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
  transition: 0.2s ease-in-out;
  cursor: pointer;

  @include respond-to(tablet) {
    width: 200px;
    padding: var(--spacing-sm);

  }

  @include respond-to(desktop) {
    width: 300px;
    padding: var(--spacing-md);

  }

  @include respond-to(desktop-xl) {
    width: 400px;

  }

  &:hover {
    border: var(--border-color--accent);
    box-shadow: var(--box-shadow-green);
    color: var(--accent);
    padding-left: var(--spacing-sm-md);
  }
}