.selectedFilter {
  height: 40px;
  width: auto;

  padding: var(--spacing-sm);

  border: var(--border-color-green);
  color: var(--green);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-xs);

  cursor: pointer;

  &:hover {
    border: var(--border-color-yellow);
    color: var(--yellow);
  }
}

.clearAll {
  height: 40px;
  width: auto;

  padding: var(--spacing-sm);

  border: var(--border-color);
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-xs);

  cursor: pointer;

  &:hover {
    border: var(--border-color-green);
    color: var(--green);
    box-shadow: var(--box-shadow-green);
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}