@use '../../styles/mixins' as *;

.primary {
  width: 100%;

  border-radius: var(--border-radius-md);

  margin: auto;
  padding: var(--spacing-sm);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.4s ease-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.082);
    transition: 0.2s ease-in;
    box-shadow: var(--box-shadow-white);
    border: 1px solid white;

  }

  @include respond-to(tablet) {
    width: 100%;
  }
}

.secondary {
  width: 100%;
  background-color: black;
  border-radius: var(--border-radius-md);
  margin: auto;

  padding: var(--spacing-md);
  border: 1px solid transparent;


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);

  transition: 0.2s ease-in-out;

  &:hover {
    box-shadow: var(--box-shadow-green);
    border: 1px solid var(--accent);

    h1 {
      color: var(--accent);
    }
  }
}