@use '../mixins' as *;

.page {
  gap: var(--spacing-xxl);
  display: flex;
  width: 100%;
}

.image {
  width: 100vw;
  height: 100vw;

  position: sticky;
  top: var(--spacing-lg);

  @include respond-to(mob-landscape) {
    width: 50%;
    max-width: 500px;
    min-width: 450px;
    height: 495px;
  }

}

.social{
  margin-top: var(--spacing-lg);
}
.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  flex-grow: 1;

  gap: var(--spacing-md);
  max-width: 600px;
}