@use '../mixins' as *;

.page {
  gap: var(--spacing-xxl);
  display: flex;
  width: 100%;
}

.image {
  width: 100vw;
  height: 100vw;

  position: sticky;
  top: var(--spacing-xxl);

  @include respond-to(mob-landscape) {
    width: 50%;
    max-width: 500px;
    min-width: 450px;
    height: 495px;
  }

  .fileUpload {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;

    width: 100%;
    height: 100%;

    transition: 0.2s ease-in-out;
  }

  .fileAccepted {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;

    width: 100%;
    height: 100%;

    transition: 0.2s ease-in-out;

    z-index: 2;
  }

  &:hover {
    .fileUpload {
      z-index: 2;
    }
  }

}

.social {
  margin-top: var(--spacing-lg);
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  flex-grow: 1;

  gap: var(--spacing-md);
  max-width: 600px;
}