.filterContainer {
  display: flex;
  gap: var(--spacing-md);
}

.button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.listedNFTScontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md);
}