@use '../mixins' as *;

.imageContainer {

  width: 100vw;
  height: 100vw;

  @include respond-to(mob-landscape) {
    width: 50%;
    max-width: 500px;
    min-width: 450px;
    height: 495px;
  }


}

.textContainer {
  width: 100%;

  @include respond-to(tablet) {
    width: 50%;
    padding: var(--spacing-md);

  }

}

.icons {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);

  .name {
    margin-right: var(--spacing-sm);
  }

  .icon {
    width: 22px;
    height: 22px;
  }

  .profileIcon {
    position: relative;
    cursor: pointer;
    margin-left: var(--spacing-sm);


    &::after {
      content: "";
      opacity: 0;
      transition: 0.2s ease-in;
    }

    &:hover {
      color: var(--yellow);

      &::after {
        content: "Edit Profile";
        position: absolute;

        width: 50px;
        opacity: 1;

        white-space: nowrap;

        right: -60px;
        top: 0;

        font-size: 12px;


      }
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: var(--spacing-lg);

  margin-bottom: var(--spacing-lg);

  @include respond-to(tablet) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.stickersContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  column-gap: var(--spacing-md);
  row-gap: var(--spacing-md);
}

.nftRow{
  
  display: flex;

  margin-top: var(--spacing-md);
  gap: var(--spacing-md);
}