.container {
  width: auto;

  display: flex;
  flex-direction: column;

  gap: var(--spacing-sm);
}

.percentage {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);

}

.icon {
  margin-top: var(--spacing-xs);
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    color: var(--text-color-hover);
    box-shadow: var(--box-shadow-hover);
  }
}

.royalty {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);

  text-align: start;

  border: var(--border-color);
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-md);

  .icon {
    margin: 0;
  }

  transition: 0.2s ease-in-out;

  &:hover {
    border: var(--border-color-hover-alt);
    box-shadow: var(--box-shadow-hover);
    color: var(--text-color-hover);
  }


}

.royaltyContainer {
  max-height: 50vh;

  padding: var(--spacing-sm);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);


  scroll-behavior: smooth;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: var(--border-radius-sm);
    background: var(--accent);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: var(--border-radius-sm);
  }
}