.container {
  background-color: #182218;

  border-radius: var(--border-radius-sm);
  padding-bottom: var(--spacing-md);

  border: 1px solid transparent;

  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    border: var(--border-color--accent);
    box-shadow: var(--box-shadow-green);
  }
}


.image {
  width: 300px;
  height: 200px;

  position: relative;

  .network {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }
}