.burger-menu {
  @apply transition-all flex justify-between flex-col w-10
    h-6 cursor-pointer;
  &__line {
    @apply transition-all h-1 w-full bg-nft-yellow;
  }
  &__open {
    transform: rotate(-90deg);
    .burger-menu__line2 {
      transform: scaleY(0);
    }
    .burger-menu__line1,
    .burger-menu__line3 {
      @apply bg-nft-gray-1;
    }
  }
  &__items {
    box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 10px;
    @apply fixed right-0 top-0  sm:w-56 backdrop-blur-md h-screen;
  }
}
