.container {
  border-radius: 20px;
  overflow: hidden;
  height: 250px;
  position: relative;
  background-color: #1f5c82;
  padding: 15px;
  &.container-bottom {
    svg {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.parallax {
  > use {
    animation: move-forever 1s linear infinite;
    //back
    &:nth-child(1) {
      animation-delay: -8s;
      animation-duration: 8s;
    }
    &:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 8s;
    }
    &:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 8s;
    }
    &:nth-child(4) {
      animation-delay: 1s;
      animation-duration: 8s;
    }
  }
  @keyframes move-forever {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translateY(5px);
    }
  }
}
