.container {
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: var(--border-color);
  border-radius: var(--border-radius-sm);


  &:hover {
    color: var(--text-color-hover);
    box-shadow: var(--box-shadow-hover);
    border: var(--border-color-hover);
  }
}