.container {
  width: 100%;
  height: 100%;

  padding: var(--spacing-md);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);

  border: var(--border-color-dashed);
  border-radius: var(--border-radius-sm);

  cursor: pointer;

  transition: 0.2s ease-in-out;


  &:hover {
    border: 2px dashed var(--green);
    color: var(--text-color-hover);
    backdrop-filter: blur(5px);
  }
}