.table {
  width: 100%;
  max-height: 20vh;

  thead {
    background-color: var(--accent);

    height: 40px;

    th:first-child {
      text-align: start;
      padding-left: var(--spacing-md);
    }

    th:not(:first-child) {
      text-align: end;
    }

    th:last-child {
      padding-right: var(--spacing-sm);
    }
  }

  tbody {
    text-align: end;

    tr:nth-child(even) {
      background-color: var(--background-dark-green);
    }

    tr {
      &:hover {
        color: var(--green);
      }

    }

    td {
      padding: var(--spacing-sm) 0 var(--spacing-sm) 0;
      transition: 0.1s ease-in-out;

    }

    td:last-child {
      padding-right: var(--spacing-sm);
    }

    td:first-child {
      display: flex;
      align-items: center;
      padding-left: var(--spacing-md);
      gap: var(--spacing-md);
    }
  }
}