.table {
  width: 100%;
  max-height: 20vh;

  thead {
    background-color: var(--background-dark-green);

    height: 50px;

    th:first-child {
      text-align: start;
      padding-left: var(--spacing-md);
    }

    th:not(:first-child) {
      text-align: end;
    }

    th:last-child {
      padding-right: var(--spacing-sm);
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: var(--background-dark-green);
    }

    tr {
      &:hover {
        color: var(--green);
      }

    }
  }
}