.container {
  width: 100%;
  height: 500px;
  padding: 0 var(--spacing-xl);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: var(--border-radius-sm);
  border: var(--border-color--accent);

  .textContainer {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: var(--spacing-lg) 0;
  }

  .imageContainer {
    width: 50%;
    height: 100%;
  }
}