.tabs {
  width: fit-content;
  height: 24px;
  display: flex;


  .tab-option {
    position: relative;
    cursor: pointer;
    margin-right: var(--spacing-lg);
    z-index: 5;
    transition: 0.2s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--yellow);
    }
  }

  .selected {
    padding-bottom: 0.3rem;

    color: var(--green);

    transition: 0.2s ease-in-out;

    &:hover {
      color: var(--green);
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 4px;
      background: var(--green);
      border-radius: 0.25rem;
    }
  }
}