.file-preview {
  @apply bg-white  shadow-md sm:flex-col sm:py-12 sm:px-2;
  width: 100%;
  min-height: 50vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  border-radius: 4px;
  &__thumb {
    max-height: 100%;
    max-width: 300px;
    border-radius: 10px;
  }

  &__controls {
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 15px;
    justify-content: space-around;

    &__file-name {
      max-width: 160px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
