.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-md);

}

.icon {
  position: absolute;
  left: 20px;
  top: 20px;

  cursor: pointer;

  transition: 0.2s ease-in-out;

  border-radius: 50%;

  &:hover {
    box-shadow: var(--box-shadow-hover);
    color: var(--text-color-hover);
  }
}