.title {
  width: 300px;
  height: 40px;
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spacing-sm);

  background-color: var(--background-light);
  border-radius: var(--border-radius-xs);

  transition: 0.2s ease-in-out;

  &:hover {
    color: var(--text-color-hover);
  }
}

.filter {
  height: 40px;
  width: 300px;

  padding: var(--spacing-sm);
  margin: var(--spacing-xs) 0;

  border: var(--border-color);
  border-radius: var(--border-radius-xs);

  display: flex;
  align-items: center;

  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover{
    color: var(--text-color-hover);
    border: var(--border-color-hover);
    box-shadow: var(--box-shadow-hover);
  }


}

.selected {
  border: var(--border-color-green);
  color: var(--green);


  &:hover {
    color: var(--yellow);
    border: var(--border-color-yellow);
  }

}