.container {
  width: 100%;

  position: relative;

  .title {
    position: absolute;
    z-index: 1;

    top: 4px;
    left: 16px;

    padding: var(--spacing-xs);

    background-color: var(--background);
  }

  //hover yellow
  //focus green
  //error red
}

.text {
  background-color: transparent;
  border: var(--border-color);

  border-radius: var(--spacing-sm);
  padding: var(--spacing-md);

  height: var(--spacing-xl);
  width: 100%;

  outline: none;

  margin-top: var(--spacing-md);
}

.textarea {
  background-color: transparent;
  border: var(--border-color);

  border-radius: var(--spacing-sm);
  padding: var(--spacing-md);

  height: 150px;
  width: 100%;

  outline: none;

  margin-top: var(--spacing-md);
}