@use '../../../../styles/mixins' as *;

.page {
  margin: var(--spacing-xl-xxl) var(--spacing-sm) var(--spacing-xxl) var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: 150px;

  min-height: 55vh;
  width: 100%;

  @include respond-to(mob-landscape) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1680px;
  }
}