.file-upload {
  position: relative;
  cursor: pointer;
  width: 100%;
  min-height: 50vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--background);
  @apply shadow-md sm:flex-col;

  &__info {
    display: flex;
    flex-flow: column;
    margin: 0 18px;
    white-space: nowrap;
  }
}
