.container {
  padding-left: var(--container-offset);
  padding-right: var(--container-offset);
  max-width: 100%;
}

.section {
  padding: var(--section-padding);
  width: 100%;
  min-height: 50vh;
}

.grid-container {
  display: grid;
  margin-top: var(--spacing-md);
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--spacing-md);
  row-gap: var(--spacing-md);


  @include respond-to(sm) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  flex-wrap: wrap;

  gap: var(--spacing-md);
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  flex-wrap: wrap;

  gap: var(--spacing-md);
}



.flex-col-center {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: var(--spacing-md);
}