h1,
h2,
h3,
h4,
h5,
.heading-xxl,
.heading-xl,
.heading-lg,
.heading-md,
.heading-sm,
.heading-xs,
.subtitle,
.tag {
  font-weight: 400;
  line-height: 1.04;
  font-family: 'Inter', 'sans-serif';

}

h1 {
  font-size: 20px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

p {
  font-size: 14px;
}

small {
  font-size: 12px;
}

// .heading-xxl {
//   font-size: 4.6rem;

//   @include respond-to(md) {
//     font-size: 6rem;
//   }

//   @include respond-to(lg) {
//     font-size: 7.6rem;
//   }
// }

// .heading-xl {
//   font-size: 4.2rem;

//   @include respond-to(md) {
//     font-size: 5.6rem;
//   }

//   @include respond-to(lg) {
//     font-size: 7.1rem;
//   }
// }

// .heading-lg {
//   font-size: 3.6rem;

//   @include respond-to(md) {
//     font-size: 3.2rem;
//   }
// }

// .heading-md {
//   font-size: 2.8rem;
// }

// .heading-sm {
//   font-size: 2.4rem;
// }

// .heading-xs {
//   font-size: 1.5rem;
// }

// .subtitle {
//   font-size: 2.1rem;
// }

// .tag {
//   font-size: 1.7rem;
// }

// .body-lg,
// .body-sm,
// .body-md {
//   line-height: 1.76;
// }

// .body-sm {
//   font-size: 1.2rem;
// }

// .body-md {
//   font-size: 1.5rem;
// }

// .body-lg {
//   font-size: 1.7rem;
// }

// .body-xl {
//   font-size: 2.4rem;

//   @include respond-to(md) {
//     font-size: 2.6rem;
//   }
// }